* text=auto
*.py text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.ps1 text eol=crlf
*.iss text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.moc3 binary
